$color-transparent: rgba(0, 0, 0, 0);

$color-box-background: rgba(255, 255, 255, 1);
$color-box-background1: rgba($color-box-background, .8);
$color-box-background2: rgba($color-box-background, .6);
$color-box-background3: rgba($color-box-background, .4);
$color-box-background4: rgba($color-box-background, .2);
$color-box-background5: rgba($color-box-background, .1);

$color-box-dark-background: rgba(0, 0, 0, 1);
$color-box-dark-background1: rgba($color-box-dark-background, .8);
$color-box-dark-background2: rgba($color-box-dark-background, .6);
$color-box-dark-background3: rgba($color-box-dark-background, .4);
$color-box-dark-background4: rgba($color-box-dark-background, .2);
$color-box-dark-background5: rgba($color-box-dark-background, .1);

$colorToolTipColor: rgba(0, 0, 0, .7);
$colorToolTipBackground: rgb(244, 244, 244);
$colorToolTipText: rgb(0, 0, 0);

$color-primary: #0078d7;
$color-secondary: #c8c8c8;
$color-thirdary: #304853;
$color-neural: rgba(0, 202, 255, 1);
$color-error: rgba(178, 82, 69, 1);
$color-warning: rgb(231, 143, 43);

$time-transition: .5s;
$time-transition-fast: $time-transition / 2;

$transition: $time-transition ease-in-out;
$transition-fast: $time-transition-fast ease-in-out;
$transition-hover: $time-transition-fast ease-in-out;

@mixin ellipsis {
    // using this still requires element to have a width set
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin boxShadow($values...) {
    -webkit-box-shadow: $values;
    box-shadow: $values;
}

@mixin focus {
    outline: 0;

    &:focus {
        @include boxShadow(inset 0 1px 1px $color-transparent, 0 0 5px $color-box-background2);
    }
}

@mixin transition($transition-property: all, $transition-time: .5s, $method: ease-in-out, $delay: 0s) {
    -webkit-transition: $transition-property $transition-time $method $delay;
    transition: $transition-property $transition-time $method $delay;
}

@mixin stroke-style {
    svg {
        .ql-stroke {
            stroke: $color-primary;
        }
    }
}

.nc-quill {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .ql-editor
    {
        margin-bottom:0px;
        min-height: 250px;
    }

    .ql-editor div, .ql-editor p, .ql-editor.ql-blank::before 
    {
        font-size:14px
    }

    .ql-snow {
        &.ql-toolbar {

            flex: initial;
            color: $color-box-dark-background2;
            background: $colorToolTipBackground;
            padding: 5px 2px;

            .ql-formats {
                margin-right: 7px;

                .ql-picker {
                    &.ql-font {
                        width: 160px;

                          .ql-picker-item, .ql-picker-label {
                            &:before {
                              content: 'Sans Serif';
                            }
                            &[data-value] {
                              &:before {
                                content: attr(data-value);
                              }
                            }
                          }
                    }

                    &.ql-size {
                        width: 70px;
                    }

                    .ql-picker-options {
                        .ql-picker-item {
                            &.ql-selected {
                                @include stroke-style;
                                color: $color-primary;
                            }

                            &:hover {
                                @include stroke-style;
                                color: $color-primary;
                            }
                        }
                    }
                }

                .ql-picker-label {
                    &.ql-active {
                        color: $color-primary;
                    }

                    &:hover,
                    &.ql-active {
                        @include stroke-style;
                        color: $color-primary;
                    }
                }
            }

            .ql-active {
                @include stroke-style;
            }

            button {
                &:hover {
                    @include stroke-style;
                    color: $color-primary;
                    stroke: $color-primary;
                }
            }
        }

        &.nc-quill-contents {
            background-color: $color-box-background;
            position: relative;
            border: 0;
            width: 100%;
            height: initial;
            overflow-y: visible;
            padding: 0;
            outline: 0;
            color: $color-box-dark-background;
            flex: 1 1 auto;

            .ql-editor {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $color-box-background;
                .ql-font-arial {
                    font-family: Arial, sans-serif;
                }

                li {
                    display: list-item;
                }
            }

            .ql-out-bottom,
            .ql-out-top {
                visibility: visible;
            }
        }

        .ql-tooltip, &.ql-tooltip {
            left: 0px !important;
            background-color: #f4f4f4;
            left: -1px;
            top: -16px;
            color: #444;
            margin-top: 10px;
            padding: 5px 12px;
            white-space: nowrap;
            border: 1px #ccc solid;
            border-radius: 0 0 0px 1px;
            box-shadow: 1px 2px 1px rgba(0,0,0,.2);
            font-size: 13px;
            margin-left: 2px;

            a {
                font-size: 13px;
                color: $color-secondary;
            }
        }

        &.insert-image-by-url {
          position: absolute;
          top: 27px;
          z-index: 1;
          font-size: 13px;

          input {
            margin-right: 16px;
          }

          a {
            cursor: pointer;
          }
        }
    }

    &.sm {
        .ql-toolbar {
            .ql-picker-label {
                padding: 0;
            }

            .ql-image {
                display: none;
            }

            .ql-strike {
                display: none;
            }

            .ql-color-picker {
                display: none;
            }

            .ql-font {
                &.ql-picker {

                    .ql-picker-label {
                        font-size: 14px;
                        overflow: hidden;
                        width: 86px;
                    }
                }
            }

            .ql-picker {
                &.ql-size {

                    margin-left: -69px;
                    width: 70px;

                    .ql-picker-label {
                        width: 70px;
                    }
                }
            }

            .ql-align {
                margin-left: 0;

                .ql-picker-label {
                    svg {
                        height: 15px;
                        position: absolute;
                        top: 4px;
                        right: 4px;
                    }
                }

                button {
                    width: 24px;
                    padding: 0;
                }
            }

            .ql-formats {
                margin: 0;

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    margin-left: 0;

                    svg {
                        height: 15px;
                    }

                    button {
                        width: 24px;
                        padding: 0;
                    }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: $color-box-dark-background3;
    }
}